.bottom {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1110px;
        height: 1030px;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 1079px;
        height: 106px;

        .details {
            &__section {
            display: flex;
            flex-direction: column;
            }
            &__section.one {
                width: 635px;
            }
            &__section.two {
                width: 150px;
            }
            &__section.three {
                width: 130px;
                
            }
            &__section.two, &__section.three {
                display: flex;
                justify-content: space-between;
                height: 89px;
                padding-top: 8px;
                font-weight: 400;
                opacity: 0.6;
            }    
        }
    }

    &__awards {
        display: flex;
        flex-direction: column;
        width: 1110px;
        height: 823px;

        .awards {
            &__section {
                display: flex;
            }
            &__section.one {
                height: 411px;
            }
            &__section.two {
                height: 410px;
                border-bottom: solid;
                border-bottom-color: $border-color;
                border-bottom-width: 2px;
            }
            &__section.one, &__section.two {
                border-top: solid;
                border-top-color: $border-color;
                border-top-width: 2px;
            }
        
            &__column {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top: 20px;
            }
            &__column.one {
                width: 474px;
                height: 28px;
                transform: translateY(28px);
            }
            &__column.two {
                width: 285px;
                height: 213px;
                transform: translateY(28px);
            }
            &__column.three {
                width: 311px;
                height: 300px;
                transform: translateY(31px);
            }
            &__column.four {
                width: 39px;
                height: 210px;
                transform: translateY(31px);
            }
        }
    }
    
    .column {
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 190px;
            height: 110px;
        }
    }
}

