button {
    width: 85px;
    height: 30px;
    border-style: none;
    background-color: $third-color;
    border-radius: 15px;
    
}
button:hover{
    background-color: $sec-color;
    color: $third-color;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.30);
    transition: 1s;
}

.footer__socials {
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29px;
        height: 29px;
        border-style: none;
        background-color: $third-color;
        border-radius: 15px;
    }
    button:hover{
        background-color: $sec-color;
        color: $third-color;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.30);
        transition: 1s;
    
        svg {
        fill: $third-color;
        transition: 0.8s;
    }
    }
    
}

#submit {
    width: 125px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    background-color: $sec-color;
    color: $third-color;
    text-transform: capitalize;
    border-style: none;

    &:hover {
        box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.30) inset;
        transition: 0.3s;
    }
}

