div.collage {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1110px;
        height: 1960px;
    }
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1960px;

        &.one {
        align-items: flex-start;
        width: 357px;    
        }
        &.two {
        align-items: center;
        width: 356px;
    }
        &.three {
        align-items: flex-end;
        width: 357px;
    }
    }
}

img {
width: 100%;
height: 100%;
object-fit: none;
overflow: visible;
}