@import 'svg';
@import 'buttons';

.footer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 1110px;
    margin-bottom: 10px;

    &__projects, &__contact {
        color: #111;
        font-family: fonts.$main-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700; 
        text-decoration: none;
        letter-spacing: -0.346px;
    }
    &__li.one {
        grid-column: 1 / 2;
    }
    &__li.two {
        grid-column: 2 / 3;
    }
    &__li.three {
        grid-column: 1 / 2;
    }
    &__li.four {
        grid-column: 2 / 3;
    }
    &__li.five {
        grid-column: 3 / 4;
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / 2;
        width: 181px;
        grid-gap: 11px;
    }
    &__socials {
        display: grid;
        align-items: end;
        grid-template-columns: repeat(3, 1fr);
        width: 107px;
        height: 30px;
        grid-gap: 9px;
        grid-column: 3 / 4;
        transform: translateX(-1px);
    }
    &__instagram {
        grid-column: 2/3;
    }
    &__dribbble {
        grid-column: 1/2;
    }
    &__twitter {
        grid-column: 3/4;
    } 
    &__dribbble, &__instagram, &__twitter {
        width: 29px;
        height: 29px;
    }
}

.nav__footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 9 / 10;
    width: 367px;
} 








