@import 'svg';

header {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 1110px;
    height: 23px;
    margin-top: 10px;
}

.nav__header {
    grid-column: 7 / 7;
}

.header {
    &__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
        width: 162px;
    }
    &__projects, &__contact {
        color: #111;
        font-family: fonts.$main-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700; 
        text-decoration: none;
        letter-spacing: -0.346px;
    }
    &__li.one {
        grid-column: 1/2;
    }
    &__li.two {
        grid-column: 2/2;
    }    
}