@import 'svg';
@import 'buttons';

header {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 1110px;
    margin-top: 10px;
}

.nav__header {
    grid-column: 7 / 7;
}

.header {
    &__links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 181px;
    }
    &__projects, &__contact {
        color: $main-txt-color;
        font-style: normal;
        text-decoration: none;        
        font-family: fonts.$main-font;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.346px;
    }
    &__li.one {
        grid-column: 1 / 2;
    }
    &__li.two {
        grid-column: 3 / 4;
    }
}