html {
    height: 3840px;
}

body {
    height: 3772px;
}
.landing {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 1110px;
    height: 3686px;

.container.one {
    display: grid;
    justify-items: start;
    align-items: end;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    width: 1037px;
    height: 491px;

.txt__intro {
    color: $sec-color;
}

.card {
    &__heading {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        color: $sec-color;
        letter-spacing: -0.42px;
    }
    &__intro {
        display: grid;
        align-items: end;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 635px;
        height: 251px;
    }
    &__quote {  
        grid-column: 4 / 5;
        grid-row: 3 / 4;
        transform: translateY(-23px);
    }
}
.item {
    &__quote-svg {
        margin-bottom: 7px;    
    }
    &__quote {
        font-style: italic;
        font-weight: 400;
        opacity: 0.6;    
    }
    &__heading {
        height: 34px;    
    }
}
}

.container.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/1;
    grid-row: 4/5;
    width: 1110px;
    height: 1960px;

.row__collage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1960px;

    &.one {
    align-items: flex-start;
    width: 357px;    
    }
    &.two {
    align-items: center;
    width: 356px;
    }
    &.three {
    align-items: flex-end;
    width: 357px;
    }
}
}

.container.three {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/1;
    grid-row: 6/7;
    width: 1079px;
    height: 298px;

.card__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
    h4 {
        font-weight: 400;
    }
    &.one {
        grid-column: 1/5;
        grid-row: 2/3;
        width: 635px;
        height: 106px;
    }
    &.two {
        grid-column: 5/6;
        grid-row: 2/3;
        width: 150px;
        height: 89px;
    }
    &.three {
        grid-column: 6/6;
        grid-row: 2/3;
        width: 130px;
        height: 89px;
    }
    &.two, &.three {
        opacity: 0.6;    
    }
}
}

.container.four {
    display: grid;
    align-items: start;
    grid-column: 1/1;
    grid-row: 8/9;
    width: 1110px;
    height: 937px;

.card__awards {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 823px;
}
.row__awards {

    &.one {
        grid-row: 1/2;
        width: 1110px;
        height: 407px;
    }
    &.two {
        grid-row: 2/2;
        border-bottom: solid;
        border-bottom-color: $border-color;  
    }

    &.one, &.two {
        display: grid;
        align-items: start;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);        
        width: 1110px;
        height: 407px;        
        border-top: solid;
        border-top-color: $border-color;  
        border-width: 2px;
    }
}
.item__awards {

    &.one {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width: 474px;
    }
    &.two {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        width: 285px;
        transform: translateY(-3px);
    }
    &.three {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        width: 295px;
        transform: translateY(-3px);
        
    }
    &.four {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        line-height: 26px;
    }
    &.five {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    &.six {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }
    &.seven {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }
    &.two, &.three {
        h5 {
            font-weight: 700;    
        }
    }
    &.four, &.five {
        width: 303px;
    }
    &.six, &.seven {
        width: 39px;
    }
    &.one, &.two, &.four, &.six {
        height: 190px;
    }
    &.three, &.five, &.seven {
        height: 168px;
    }
}
.txt__awards {
    width: 190px;
    margin-top: 12px;
    line-height: 26px;
    opacity: 0.6;
}
}
}

