$main-txt-color: #111;
$sec-txt-color: #4A4FF2;
$border-color: #D8D8D8;
@import 'container-one';
@import 'container-two';
@import 'container-three';
@import 'container-four';

.main {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 1110px;
    height: 3686px;
      
}