.top {
    text-align: start;
    

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1110px;
        height: 251px;

    }
    &__heading {
        color: $sec-txt-color;
        letter-spacing: -0.42px;
        width: 173px;
        height: 28px;   
    }
    &__intro {
        width: 635px;
        height: 191px;
    }
    &__quote {
        font-style: italic;
        font-weight: 400;
        opacity: 0.6;
    }
    &__card {
        display: flex;
        flex-direction: column;
    }
    &__card.one {
        justify-content: space-between;
    }
    &__card.two {
        justify-content: flex-end;
    }
    &__svg {
        margin-bottom: 9px;
    }
}
