@use 'fonts';

@import 'header';
@import 'main';
@import 'footer';

html {
    display: flex;
    justify-content: center;
    height: 3840px;
}
body {
    height: 3772px;
    margin: 20px;
    color: $main-txt-color;
    font-family: fonts.$main-font;
    font-style: normal;
    vertical-align: top;  
}

h1, h2, h4, h5, h6 {
    vertical-align: top;
    line-height: normal;
}
h1 {
    font-size: 40px;
    line-height: 60px;
}
h2 {
    font-size: 28px;
    line-height: 38px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
}
h5, h6 {
    font-size: 16px;
}
h6 {
    line-height: 26px;
    opacity: 0.6;
}
h1, h2, h3, h4 {
    font-weight: 700;
}
h5, h6 {
    font-weight: 400;
}